<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.4">
	
	<javaee:display-name>Framework Gerador de Boletos</javaee:display-name>
	
	<servlet>
		<servlet-name>autenticar</servlet-name>
		<servlet-class>br.com.fiap.framework.Autenticar</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>autenticar</servlet-name>
		<url-pattern>/autenticar</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>jcaptcha</servlet-name>
		<servlet-class>br.com.fiap.framework.LoginCaptcha</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jcaptcha</servlet-name>
		<url-pattern>/jcaptcha.jpg</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/error404.html</location>
	</error-page>
</web-app>